body {
font-family: 'Vollkorn', serif;
text-decoration: none;
background-image: url("img/bg7.svg") ;
background-attachment:fixed;
background-size:100% auto;
}

.slider_bg{
color:#FFFFFF;
width:40%;
margin:0 auto;
background-color: rgba(80, 80, 80, 0.6);
border-radius: 20px;
}
.slider_span{
color:#1E8FE6 ;
}

.footer_card li{
    color: black;
    background: #ECEEEE;
}
.footer_content{
color:#FFFFFF;
}

.modal_pic{
width:100%;
height: auto;
border-radius: 5%;
}
.modal_line{
margin-top: 20px;
border-top: 1px solid grey;
padding-top: 15px;
text-align: center;
}

.i_header p {
color:#FFFFFF;
font-size: 40px;
display: inline-block;
border-bottom: 2px solid #292929;
}
.i_header img{
margin-left: 10px;
height: 50px;
width: 50px;
color: white;
}

.scrollup{
z-index: 10;
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:100px;
display:none;
background: url('img/top_scroll.png') no-repeat;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}
.p-0 {
padding:0px;
}

.op {
opacity: 1.0;
transition: all 0.4s ease-out;
width: 100%;
}
.op:hover  {
opacity: 0.7;
transform: scale(1.05);
}
.icons{
color: #FFFFFF;
}

.background {
position: absolute;
top: 92%;
left: -10%;
width: 110%;
height: 480%;
z-index: -2;
overflow: hidden;
}

.card_bg {
background: url(img/bg.jpg) ;
background-attachment:fixed;
background-size:100% auto;
}

.blocks{
background-color: rgba(235, 235, 235, 0.92);
border-radius: 5px;
padding:5px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*БЛОК МЕДИА - ЗАПРОСОВ*/
@media screen and (max-width:500px) {
   .background {
        height: 800%;
        top: 30%;
    }
    .card_bg {
        background: url(img/bg4.jpg) ;
        background-attachment:fixed;
        background-size:100% auto;
    }
    body {
        background: url(img/bg5.jpg) repeat-y ;
        background-attachment:fixed;
        background-size:100% auto;
    }
    .i_header img{
        margin-left: 10px;
        margin-bottom:10px;
        height: 100px;
        width: 100px;
    }
    .i_header p {
        font-size: 30px;
        display: inline-block;
        border-bottom: 1px solid white;
    }
    .mail_h3{
        font-size: 12px;
        }
    .mail_h1{
        font-size: 15px;
    }
    .op{
        width: 250px;
        height: auto;
    }
}

@media screen and (max-width:768px) {
   .card_bg {
       background: url(img/bg4.jpg) ;
        background-attachment:fixed;
        background-size:100% auto;
    }

    body {

        background: url(img/bg5.jpg) repeat-y ;
        background-attachment:fixed;
        background-size:100% auto;
    }
   .slider_bg{
       color:#FFFFFF;
       width:40%;
       margin:0 auto;
       background-color: rgba(80, 80, 80, 0.6);
       border-radius: 20px;
       font-size: 20px;
   }
}

@media screen and (max-width: 1250px) {
    .slider_res{
       font-size: 26px;
    }
}

@media screen and (max-width: 878px) {
       .slider_res{
        font-size: 20px;
       }
       .mail_h3{
       font-size: 18px;
       }
       .mail_h1{
        font-size: 22px;
       }
}